In [1]:
# 3.3 What does this code do?
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end = ' ')

> > > > > > > > > > < < < < < < < < < < > > > > > > > > > > < < < < < < < < < < > > > > > > > > > > < < < < < < < < < < > > > > > > > > > > < < < < < < < < < < > > > > > > > > > > < < < < < < < < < <

for the odd row the output is < and for the even row the output is >

In [4]:
# 3.10 7% Investment Return
p = int(input('Enter the original amount invested:'))
r = int(input('Enter the annual return rate:'))
for n in range(1,31):
    a = p * ((1 + r) ** n)
    print('The amount on deposit at the end of', n , 'year is', a )

Enter the original amount invested: 1000
Enter the annual return rate: 1

The amount on deposit at the end of 1 year is 2000
The amount on deposit at the end of 2 year is 4000
The amount on deposit at the end of 3 year is 8000
The amount on deposit at the end of 4 year is 16000
The amount on deposit at the end of 5 year is 32000
The amount on deposit at the end of 6 year is 64000
The amount on deposit at the end of 7 year is 128000
The amount on deposit at the end of 8 year is 256000
The amount on deposit at the end of 9 year is 512000
The amount on deposit at the end of 10 year is 1024000
The amount on deposit at the end of 11 year is 2048000
The amount on deposit at the end of 12 year is 4096000
The amount on deposit at the end of 13 year is 8192000
The amount on deposit at the end of 14 year is 16384000
The amount on deposit at the end of 15 year is 32768000
The amount on deposit at the end of 16 year is 65536000
The amount on deposit at the end of 17 year is 131072000
The amount on deposit at the end of 18 year is 262144000
The amount on deposit at the end of 19 year is 524288000
The amount on deposit at the end of 20 year is 1048576000
The amount on deposit at the end of 21 year is 2097152000
The amount on deposit at the end of 22 year is 4194304000
The amount on deposit at the end of 23 year is 8388608000
The amount on deposit at the end of 24 year is 16777216000
The amount on deposit at the end of 25 year is 33554432000
The amount on deposit at the end of 26 year is 67108864000
The amount on deposit at the end of 27 year is 134217728000
The amount on deposit at the end of 28 year is 268435456000
The amount on deposit at the end of 29 year is 536870912000
The amount on deposit at the end of 30 year is 1073741824000

In [23]:
# 3.13 Factorials
n = int(input('Enter a nonnegative integer:'))
factorial = 1
if n == 0:
    factorial = 0
else:
    
    for i in range(n, 1, -1):
        factorial = i * factorial

    
print(factorial)

Enter a nonnegative integer: 5

120

In [ ]:
# 3.31 Intro to Data Science: Categorial Data

Only Mode works

In [ ]:
# 3.23 Validating indentation

There will be a run-time error complaining about line 6 unexpected indent.

But tabnanny can't flag it.

In [25]:
# 3.17 Nested Loops
for i in range(1,10,1):
    for j in range(i):
        print('*', end = '')
    print('')

*
**
***
****
*****
******
*******
********
*********

In [26]:
for i in range(10,0,-1):
    for j in range(i):
        print('*', end = '')
    print('')

**********
*********
********
*******
******
*****
****
***
**
*

In [27]:
for i in range(10,0,-1):
    for j in range(10 - i):
        print(' ', end = '')
    for j in range(i):
        print('*', end = '')
    print('')

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [28]:
for i in range(10,0,-1):
    for j in range(i):
        print(' ', end = '')
    for j in range(10 - i):
        print('*', end = '')
    print('')

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [37]:
#3.14 Challenge: Appromixating the Mathmatical Constant pi
sign = 1
sum = 0
found1 = False
found2 = False
found3 = False
found4 = False
iteration = int(input('Number of total iterations:'))
for i in range(iteration):
    sum = sum + 4 * sign /(1 + 2 * i)
    sign = sign * (-1)
    # print(i+1,sum)
    if sum > 3.14 and sum < 3.15 and not found1:
        print (i+1, sum)
        found1 = True
    if sum > 3.141 and sum < 3.142 and not found2:
        print (i+1, sum)
        found2 = True
    if sum > 3.1415 and sum < 3.1416 and not found3:
        print (i+1, sum)
        found3 = True
    if sum > 3.14159 and sum < 3.1416 and not found4:
        print (i+1, sum)
        found4 = True
        break

Number of total iterations: 1000000000

119 3.14999586659347
1688 3.141000236580159
10794 3.1415000095284658
136121 3.141599999994786

119 3.14999586659347
1688 3.141000236580159
10794 3.1415000095284658
136121 3.141599999994786

In [42]:
# 3.18 Nested Looping
for i in range(10):
    for j in range(i+1):
        print('*',end = '')
    for j in range(10-i-1):
        print(' ',end = '')
    print('   ',end = '')
    for j in range(10-i):
        print('*',end = '')
    for j in range(i):
        print(' ',end = '')
    print('   ',end = '')
    for j in range(i):
        print(' ',end = '')
    for j in range(10-i):
        print('*',end = '')
    print('   ',end = '')
    for j in range(10-i-1):
        print(' ',end = '')
    for j in range(i+1):
        print('*',end = '')
    print('')

*            **********   **********            *
**           *********     *********           **
***          ********       ********          ***
****         *******         *******         ****
*****        ******           ******        *****
******       *****             *****       ******
*******      ****               ****      *******
********     ***                 ***     ********
*********    **                   **    *********
**********   *                     *   **********

In [ ]:
#3.24 Project: Using the prospector

Syntax error and bad coding style.

In [ ]:
#3.26 DS Research: Anscombeâ€™s Quartet

Done. Found the data on Wikipedia.